<h1>Menus</h1>
<p>
  <%= link_to 'Home', root_path() %> <br>
  <%= link_to 'Add a Menu', new_menu_path() %>
</p>

<table>
  <tr>
    <th>Menu:</th>
    <th>Description:</th>
  </tr>

  <% @menus.each do |menu| %>
    <tr>
      <td><%= menu.title %></td>
      <td><%= menu.body %></td>
      <td><%= link_to 'Show', menu_path(menu) %></td>
      <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
    </tr>
  <% end %>
</table>
