<p>
  <strong>Menu Title:</strong>
  <%= @menu.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @menu.body %>
</p>
<p>
  <strong>Selections:</strong>
  <%= @selection %>
  <%= link_to 'Add an Item', new_menu_selection_path(@menu) %>
</p>



<p><%= link_to 'Back to Menus', menus_path() %></p>
