<h1>Selections</h1>
<p>
  <%= link_to 'Home', root_path() %> <br>
  <%= link_to 'Add a Selection', new_selection_path() %>
</p>

<table>
  <tr>
    <th>Menu Category:</th>
    <th>Name:</th>
    <th>Ingredients:</th>
    <th>Price:</th>
  </tr>

  <% @selections.each do |selection| %>
    <tr>
      <td><%= selection.menu %></td>
      <td><%= selection.name %></td>
      <td><%= selection.ingredients %></td>
      <td><%= selection.price %></td>
      <td><%= link_to 'Show', selection_path(selection) %></td>
      <td><%= link_to 'Edit', edit_selection_path(selection) %></td>
    </tr>
  <% end %>
</table>
