<p>
  <strong>Menu Category:</strong>
  <%= @selection.menu %>
</p>
<p>
  <strong>Name:</strong>
  <%= @selection.name %>
</p>
<p>
  <strong>Ingredients:</strong>
  <%= @selection.ingredients %>
</p>
<p>
  <strong>Price:</strong>
  <%= @selection.price %>
</p>

<p><%= link_to 'Back to Selections', selections_path() %></p>
