<%= form_for @restaurant do |f| %>
  <% if @restaurant.errors.any? %>
    <div>
      <h2>
        Please fix the following errors:
      </h2>
      <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  <p>
    <%= link_to 'Cancel and View Restaurants', restaurants_path() %>
  </p>
<% end %>
